* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  background: aliceblue;
  position: relative;
}

.button-group {
  margin: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 16px;
}

button {
  padding: 16px 32px;
  font-size: 32px;
  border-radius: 8px;
  border: 2px solid grey;
  cursor: pointer;
  display: block;
  outline-offset: 4px;
  outline-width: thick;
}

button#start { background-color: lightgreen; }
button#start:focus, button#start:hover { background-color: limegreen; }
button#start:active { background-color: mediumseagreen; }

button#stop { background-color: coral; }
button#stop:focus, button#stop:hover { background-color: tomato; }
button#stop:active { background-color: orangered; }

.blob-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.blob {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: darkslateblue;
}
