@keyframes wave {
  0% { transform: translateY(-100px); }
  100% { transform: translateY(100px); }
}

.wave > .blob {
  animation-name: wave;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

/* delay each wave by 0.5s more than the last */
.blob:nth-of-type(1) { animation-delay: 0.0s; }
.blob:nth-of-type(2) { animation-delay: 0.5s; }
.blob:nth-of-type(3) { animation-delay: 1.0s; }
.blob:nth-of-type(4) { animation-delay: 1.5s; }
.blob:nth-of-type(5) { animation-delay: 2.0s; }
.blob:nth-of-type(6) { animation-delay: 2.5s; }